@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <iframe width="950" height="573" src="https://www.youtube.com/embed/R1d5wfBYW8g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p><button onclick="myMove()">Click Me</button></p>

    <div id="container">
        <div id="animate"></div>
    </div>
</div>
